.gradient-custom {

  background: -webkit-linear-gradient(
    to right,
    rgb(66, 98, 108),

    /* rgba(106, 17, 203, 1), */
    /* rgba(37, 117, 252, 1) */
    rgb(28, 39, 46)
  );

  background: linear-gradient(
    to right,
    rgb(66, 98, 108),

    /* rgba(106, 17, 203, 1), */
    /* rgba(37, 117, 252, 1) */
    rgb(28, 39, 46)

  );
}
.vh-100 {
  overflow: hidden;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}
